.colorcontainer{
    border: solid gray 1px;
    height: 200px;
}
.rgb1, .rgb2, .rgb3, .rgb4{
    width: 200px;
    height: 200px;
    border: ridge black 3px;
    float: left;
    margin-right: 10px;
}
.rgb1{
    background-color: rgb(242, 80, 30);
}
.rgb2{
    background-color: rgb(127,186,0);
}
.rgb3{
    background-color: rgb(1,164,239);
}
.rgb4{
    background-color: rgb(255,185,1);
}
.hex1, .hex2, .hex3{
    width: 200px;
    height: 200px;
    border: ridge black 3px;
    float: left;
    margin-right: 10px;
}
.hex1{
    background-color: #ad1457;
}
.hex2{
    background-color: #78002e;
}
.hex3{
    background-color: #10ab88;
}
/* position */
img{width: 100%; display: block;}
.imgcontainer{
    width: 60%;
    margin: 1em auto;
    box-shadow: 1px 1px 5px gray;
    position: relative;
}
.imgtitle{
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 20%;
    right: 20%;
    background-color: rgba(242, 80, 30,0.7);
    text-align: center;
    font-size: 2em;
    padding: 1em;
}
/* fixed navigation */
.topnav{
    background-color: #78002e;
    position: fixed;
    top: 0%;
    width: 100%;
}
.topnav a{
    display: inline-block;
    padding: 1em 3em;
    color:whitesmoke;
    text-decoration: none;
}
.topnav a:hover{
    background-color: aliceblue;
    color: #78002e;
}
/* Linear gradient*/
.mesh1, .mesh2, .mesh3{
    width: 60%;
    height: 200px;
}
.mesh1{
    background-image: linear-gradient(#78002e, #10ab88);
}
.mesh2{
    background-image: linear-gradient(to right,red,blue);
}
.mesh3{
    background-image: linear-gradient(to top left,red,blue);
}
/* hero image */
.heroinfo{
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 20%;
    right: 20%;
    text-align: center;
    border: solid 1px gray
}
.heroimage{
    background-image: linear-gradient(to right, rgba(255,255,255, 0.6), rgba(255,0,0,0.7)) ,url("images/mountain.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 700px;
}
.heroinfo a{
    display: inline-block;
    padding: 0.5em 2em;
    background-color: #78002e;
    color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
}
.heroinfo a:hover{
    background-color: red;
}
/* sepia filter */
.sepia1{
    filter: sepia(10%);
}
.sepia2{
    filter: sepia(60%);
}
.sepia3{
    filter: sepia(100%);
}
/* blur filter*/
.blur1{
    filter: blur(2px);
}
.blur2{
    filter: blur(10px);
}
.blur3{
    filter: blur(20px);
}
/* invert filter */
.invert1{
    filter: invert(2%);
}
.invert2{
    filter: invert(60%);
}
.invert3{
    filter: invert(100%);
}

/* EXERCISE */
.sectioncontainer{
    height: auto;
    border: solid red 1px;
}
.container1, .container2, .container3{
    width: 500px;
    height: 600px ;
    border: solid blue 1px;
    display: inline-block;
    margin: 2em;
}